# Agenda 

1. What are comprehensions?
2. List comprehensions
3. List comprehensions and files
4. Set comprehensions
5. Dict comprehensions
6. Nested comprehensions
7. Generator expressions (aka generator comprehensions)

In [1]:
# I have  a list of integers
# I want to get a list of those integers squared

numbers = range(10)

output = []

for one_number in numbers:
    output.append(one_number ** 2)

output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

A comprehension (a list comprehension) is perfect for when you want to get a new list based on an existing one (or any existing sequence).

- I have a list of integers
- I want a list of integers (the first list's squared)
- I know how to transform each element in the first list to the second one

In [3]:
# here's the comprehension version of the above

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

What's going on here?

- We start from the `for` -- that loop runs first and foremost
- The iterable value (`numbers`, here) that we iterate over can be anything -- not just a list
- The first part of our comprehension is a Python expression -- meaning, an operation, function, or method call that returns a value
- The expression is invoked once for each element in the iterable
- The `[]` around our comprehension tell Python that we want to create a list

In [4]:
[one_number ** 2              # expression -- SELECT
 for one_number in numbers]   # iteration --  FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

If you have a list already, and you want a new list based on it, you should use a comprehension!

In [5]:
# if I have a list of strings

mylist = ['abcde', 'fg', 'hij']

# I want to get them back as a string, with '*' between them
'*'.join(mylist)

'abcde*fg*hij'

In [6]:
# what if I have a list of integers?

mylist = [10, 20, 30, 40, 50]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [7]:
# we have an iterable of integers
# we want an iterable of strings
# we can convert from integers to strings with str()

mylist = [10, 20, 30, 40, 50]

'*'.join([str(one_number)
         for one_number in mylist])

'10*20*30*40*50'

In [8]:
[str(one_number)
         for one_number in mylist]

['10', '20', '30', '40', '50']

In [9]:
s = 'this is a sample sentence for my tutorial'

s.title()

'This Is A Sample Sentence For My Tutorial'

In [10]:
# can I do the same thing as str.title but using only str.capitalize?

s.capitalize()

'This is a sample sentence for my tutorial'

In [13]:
' '.join([one_word.capitalize()
          for one_word in s.split()])

'This Is A Sample Sentence For My Tutorial'

# Exercises:

1. Ask the user to enter a string containing numbers, separated by spaces. Add those numbers together (as integers), and print the result. It's OK to use the builtin `sum` function. We can assume that our user will only enter digits and whitespace.
2. Ask the user to enter a string, and print the length of the string, except for whitespace. Don't use `str.replace`.

In [16]:
text = input('Enter some numbers: ').strip()

sum([int(one_number)
    for one_number in text.split()])

Enter some numbers:  10 20 30 40 50

150

In [19]:
text = input('Enter a sentence: ').strip()

sum([len(one_word)
    for one_word in text.split()])

Enter a sentence:  hello out there

13